<body>
    <style>
        @font-face {
            font-family: 'lcd';
            src: url('/fonts/lcd/digital-7.ttf') format('truetype');
        }
        #fondo-trash{
            /*background: url('/images/paisaje.jpg') no-repeat center center;*/
            background-color: lightslategrey;
            /*background-size: cover;*/
            /* height: 100vh; */
            padding-bottom:2rem; 
            padding-top:6rem; 
        }
        #trash{
            margin-top:0px;
            background-color:rgba(0,0,0,.5);
            color: white;
            border-radius: 5px;
            font-family: sans-serif;
            text-align: center;
            width: 95%;
            height: 83%;
            padding: 20px 40px;
        }
        #cajaMayor{
            color: white;
            border-radius: 4px;
            width:100%;
            height: calc(98% - 48px);
            background-color: #005e35;
            position: relative;
        }
        #lcd{
            color: white;
            position: absolute;
            font-size: 15px;  
            font-family: 'lcd';
            left: calc(50% - 75px);
            top: 17px;
            width: 150px;
            background-color:#332e62;
            height: 38px;
            line-height : 16px;
            border: solid #191919;
        }
        #cajas{
            position: absolute;
            bottom: 40px;
            height: calc( 100% - 140px);
            width: 100%;
            padding: 0px 20px;
        }
        .caja{
            display: inline-block !important;
            width: 20%;
            height: 100%;
            background-color: #00000026;
            margin-right: 8px;
        }
        .caja:before{
            content: attr(material);
            font-size: 15px;
            font-family: 'Oswald', sans-serif;
            position: relative;
            text-align: center;

            top:calc( 100% - 4px);
        }
        /*
        #metal{
            background-color: #00000026;
        }

        #plastico{
            background-color: #35863580;            
        }
        #vidrio{
            background-color: #3c3cb566;            
        }

        #indefinido{
            background-color: #808080a6; 
        }*/
        .nivel{
            position: absolute;
            bottom: -1px;
            width: calc((100%  - 40px)/5 );
            height: 1px;
        }
        .nivel:after{
            /* box-sizing: border-box; */
            content:  attr(porcentaje);
            position: absolute;
            font-size: 15px;
            font-family: 'Oswald', sans-serif;
            top:-25px;
            left: 0;
            width: 100%;
        }
        #nivelMetal{
            background-color: #dc7a2b;
        }

        #nivelPlastico{
            background-color: #45d345;            
        }
        #nivelVidrio{
            background-color: #3755bb;            
        }

        #nivelIndefinido{
            background-color: #9f9d9d; 
        }
        
        @media (max-width: 768px){
            #cajaMayor{
                height: calc(100% - 96px);
            }
            #circle{
                display: none !important;
            }
        }


    </style>
    <div class="site-section" id="fondo-trash">
    <div class="container">
        <div id="trash" class="mx-auto">
            <h1>Prototipo Smart Trash</h1>
            <div id="cajaMayor">
                <div id="lcd">
                    ¡Bienvenido!<br>
                    Listo para analizar
                </div>
                <div id="cajas">
                    <div id="metal" class="caja" material="Metal">
                        <div id="nivelMetal" class="nivel"></div>
                    </div>
                    <div id="plastico" class="caja" material="Plastico">
                        <div id="nivelPlastico" class="nivel"></div>
                    </div>
                    <div id="vidrio" class="caja" material="Vidrio">
                        <div id="nivelVidrio" class="nivel"></div>
                    </div>
                    <div id="indefinido" class="caja" material="Indefinido">
                        <div id="nivelIndefinido" class="nivel"></div>
                    </div>
                </div>
            </div>
            <div id="trash-content"></div>
        </div>
        <script id="trash-conteiner" type="text/x-handlebars-template">    
            Metal: \{{metal}}%, Plastico: \{{plastico}}%, Vidrio: \{{vidrio}}%, Indefinido: \{{indefinido}}%
                       
        </script>
    </div>
    </div>
</body>
    
