<body>
    <div class="site-section">
    <div class="container" >
        <div id="trash"></div>
        <script id="trash-conteiner" type="text/x-handlebars-template">    
            <ul>
                <li>Nivel de metal: {{metal}}</li>
                <li>Nivel de plastico: {{plastico}}</li>
                <li>Nivel de vidrio: {{vidrio}}</li>
                <li>Nivel de indefinido: {{indefinido}}</li>
            </ul>            
        </script>
    </div>
    </div>
</body>
    
